<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm"></clr-icon>
                <span class="title">Terraform Enterprise Demo</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.hashicorp.com/">HashiCorp.com</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.hashicorp.com/products/terraform/">Learn about Terraform</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://hashiconf.hashicorp.com/">Attend HashiConf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/vaficionado?lang=en">@vaficionado</a>
                </li>
            </ul>
        </nav>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                <h1>
                    Deployed by Terraform Enterprise
                </h1>
                <h2>
                    Provision, Secure, Run, Connect
                </h2>
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="..." class="card">
                            <div class="card-img">
                                <img src="../assets/TerraformColor.svg" style="width: 75%; margin:20 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Create, combine, and manage infrastructure across multiple providers.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="..." class="card">
                            <div class="card-header">
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/VaultBlack.svg" style="width: 75%; margin:20 auto;"/>
                                    <br>
                                    Centrally store, secure, and control access to distributed secrets. 
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="..." class="card">
                            <div class="card-img">
                                <img src="../assets/ConsulColor.svg" style="width: 75%; margin:20 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Distributed, highly available tool for service discovery, configuration, and orchestration.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="..." class="card">
                            <div class="card-img">
                                <img src="../assets/NomadColor.svg" style="width: 75%; margin:20 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Cluster manager and scheduler to deploy applications across any infrastructure.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:0 auto;">
        <div>
        <img src="../assets/Vmware-Clariy-logo-2.png" width="100">
        Powered by VMware Clarity
    </div>
    </div>
</div>
