<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="deploy"></clr-icon>
                <span class="title">Terraform Enterprise Demo</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.hashicorp.com/" target="_blank">HashiCorp.com</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.hashicorp.com/products/terraform/" target="_blank">Learn about Terraform</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://hashiconf.hashicorp.com/" target="_blank">Attend HashiConf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/vaficionado" target="_blank">@vaficionado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/Codydearkland" target="_blank">@CodyDeArkland</a>
                </li>
            </ul>
        </nav>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                <h1>
                    Deployed by Terraform Enterprise
                </h1>
                <div class="clr-row">
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="https://www.terraform.io/" class="card clickable tf">
                            <div class="card-header" style="color: white">
                                Provision
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/TerraformWhiteVertical.svg" style="height: 150px; margin:20 auto;"/>
                                    <br>
                                </p>
                            </div>
                            <div class="card-footer">
                                    Create, combine, and manage infrastructure across multiple providers.
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="https://www.vaultproject.io/" class="card clickable vault">
                            <div class="card-header" style="color: white">
                                Secure
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/VaultWhiteVertical.svg" style="height: 150px; margin:20 auto;"/>
                                    <br>
                                </p>
                            </div>
                            <div class="card-footer">
                                    Centrally store, secure, and control access to distributed secrets. 
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="https://www.consul.io/" class="card clickable consul">
                            <div class="card-header" style="color: white">
                                Run
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/ConsulWhiteVertical.svg" style="height: 150px; margin:20 auto;"/>
                                    <br>
                                </p>
                            </div>
                            <div class="card-footer">
                                    Distributed, highly available tool for service discovery, configuration, and orchestration.
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-3 clr-col-12">
                        <a href="https://www.nomadproject.io/" class="card clickable nomad">
                            <div class="card-header" style="color: white">
                                Connect
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    <img src="../assets/NomadWhiteVertical.svg" style="height: 150px; margin:20 auto;"/>
                                    <br>
                                </p>
                            </div>
                            <div class="card-footer">
                                    Cluster manager and scheduler to deploy applications across any infrastructure.
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:0 auto;">
        <div>
        <img src="../assets/Vmware-Clariy-logo-2.png" width="100">
        UI by VMware Clarity
    </div>
    </div>
</div>
