<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <clr-icon shape="vm"></clr-icon>
                <span class="title">Terraform Enterprise Demo</span>
            </a>
        </div>
    </header>
    <nav class="subnav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="https://www.hashicorp.com/">HashiCorp.com</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.hashicorp.com/products/terraform/">Learn about Terraform</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://hashiconf.hashicorp.com/">Attend HashiConf</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/vaficionado?lang=en">@vaficionado</a>
                </li>
            </ul>
        </nav>
    <div class="content-container">
        <div class="content-area">
            <div style="text-align:center">
                <h1>
                    Deployed by Terraform Enterprise
                </h1>
                <div class="clr-row">
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/ca.svg" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Declarative, multi-cloud orchestration and automation solution that enables
                                    infrastructure as code for expedited infrastructure consumption and application
                                    delivery. 
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/sb.svg" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Policy driven platform form aggregating content in native formats from multiple
                                    clouds and platforms into a common catalog for consumption through UI or API, with
                                    guardrails.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="clr-col-lg-4 clr-col-12">
                        <a href="..." class="card clickable">
                            <div class="card-img">
                                <img src="../assets/cs.svg" style="width: 75%; margin:0 auto;"/>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    Provides release automation and continuous delivery to enable frequent, reliable
                                    releases of application and IT code for development and operations teams. </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin:0 auto;">
        <div>
        <img src="../assets/Vmware-Clariy-logo-2.png" width="100">
        Powered by VMware Clarity
    </div>
    </div>
</div>
